# Semana 05
Mg. Flor Elizabeth Cerdán León

Temas:
    1. Colecciones de Datos
    2. Estructuras Decisivas y Estructuras Repetitivas
    3. Clases y Objetos
    4. Funciones

2. Blucles y Condiciones

In [1]:
# 2.1 Estructuras Decisivas (if, elif, else)

In [ ]:
# if
# Problema: Dado el precio de 3 productos ingresados por el teclado, aplicar un descuento del 10% si la 
# venta es mayor o igual a 1000.

In [3]:
# Solución
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total>=1000:
    total *= 0.9
print(f"El total a pagar es: {total}")

Producto 1: 1000
Producto 2: 89
Producto 3: 457
El total a pagar es: 1391.4

In [ ]:
# IF-ELSE

In [ ]:
#Dado una lista[AQUINO, ARCOS, BALDEON, BARZOLA, BELLO, CACHAY, CARRASCO, CIRIACO, DELGADO, GAYOSO, GONZALES, GRANADOS, HUAMAN, LLANOS,LUQUE, PINEDA, PRADO, QUIJAHUAMAN, QUISPE ,RAKAUSKAS, RAMOS, ROJAS, SOTO,ZARATE]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista

In [8]:
# Solución:
LP3 = ["AQUINO", "ARCOS", "BALDEON", "BARZOLA", "BELLO", "CACHAY", "CARRASCO", "CIRIACO", "DELGADO", 
       "GAYOSO", "GONZALES", "GRANADOS", "HUAMAN", "LLANOS","LUQUE", "PINEDA", "PRADO", "QUIJAHUAMAN",
       "QUISPE" ,"RAKAUSKAS", "RAMOS", "ROJAS", "SOTO", "ZARATE"]

apellido = input("Ingrese nombrea buscar: ")

# Como los datos de la lista están en mayúscula, utilizo.upper()

if apellido.upper() in LP3:
    print("Si está en la lista de LP3")
else:
    print("No está en la lista de LP3")

Ingrese nombrea buscar: leon
No está en la lista de LP3

In [7]:
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador (Ingreso por teclado,
# Categorizar que tipo de empleado es , considerando la siguiente tabla)

# Categoría: A ->[1,1000]
# Categoría: B ->[1000,2000]
# Categoría: C ->[2000,5000]
# Categoría: D ->[5000,Más]
# Tiempo:10 minutos

In [15]:
# Solución
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos erroneos")
else:    
    if ventas<=1000:
        print("Categoria A")
    else:
        if ventas <=2000:
            print("Categoria B")
        else:
            if ventas <= 5000:
                print("Categoria C")
            else:
                print("Categoria D")

Importe de ventas realizadas: 2654
Categoria C

In [ ]:
# elif
# Problema 03
# Dado el importe total de ventas realizadas por un trabajador (Ingreso por teclado,
# Categorizar que tipo de empleado es , considerando la siguiente tabla)

# Categoría: A ->[1,1000]
# Categoría: B ->[1000,2000]
# Categoría: C ->[2000,5000]
# Categoría: D ->[5000,Más]
# Tiempo:10 minutos

In [17]:
# Solución

ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos Erroneos")
elif ventas<=1000:
    print("Categoría A")
elif ventas<=2000:
    print("categoría B")
elif ventas<=5000:
    print("Categoría C")
else:
    print("Categoría D")

Importe de ventas realizadas: 10000
Categoría D

In [18]:
# 2.2 Estructuras Repetitivas
# for
# Problema 01:
# Mostrar los elementos de una lista utilizando for

In [19]:
# Solución
aula = ['Carrasco', 'Navarro', 'Gonzales','Aquino']

# Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Carrasco
Navarro
Gonzales
Aquino

In [21]:
cadena=input("Ingrese Cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese Cadena: En todo tempo ama el amigo. Prov 17:17
E
n

t
o
d
o

t
e
m
p
o

a
m
a

e
l

a
m
i
g
o
.

P
r
o
v

1
7
:
1
7

In [33]:
# Problema 01
# Para generar rangos de números utilizamos range()
range(5)

range(0, 5)

In [32]:
# Problema 02
# Imprimir los números de 0 a 10, utilizando for
for numero in range(3,11):
    print(numero)

3
4
5
6
7
8
9
10

In [35]:
# Problema 03
# Imprimir los números de 5 a 9, utilizando for
for numero in range(5,10):
    print(numero)

5
6
7
8
9

In [38]:
# Problema 04
# Imprimir los números de 10 a 20 , utilizando for
for numero in range(10,21,2):
    print(numero)

10
12
14
16
18
20

In [ ]:
# Tambien funcionan los bucles anidados:
# PROBLEMA 05 
# DADO UNA LISTA DE NÚMEROS , UTILIZANDO EL ALGORITMO BURBUJA ORDENARLOS DE MENOR A MAYOR
# LISTA: [10,20,5,-10,100,0,50,17,2000,-1000,0]