# SEMANA 03
Mg. Flor Elizabeth Cerdán León

# Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

3. Manejo de Cadenas

In [4]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [5]:
#Universidad Nacional Tecnológica de Lima Sur
#01234....................................-2-1

In [6]:
cadena[5]

'r'

In [8]:
cadena[10]

'd'

In [9]:
# Considera los espacios en blanco
cadena[11]

' '

In [10]:
#¿Qué me mostrara?
cadena[-5]

'a'

In [11]:
cadena[21]

'T'

In [12]:
cadena[-23]

'T'

In [13]:
# Para mostrar una subcadena[desde, hasta una antes]
# En Java era substring()
cadena[3:8]

'versi'

In [14]:
# Para saber el tamaño de la cadena utilizamos len()
# incluye los espacios en blanco

In [15]:
len(cadena)

44

In [16]:
# Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [17]:
# Ojo.... Solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [20]:
# Si desearas cambiarlo harías: cadena = cadena.upper()
cadena = cadena.upper()

In [21]:

cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [22]:
# Para mostrar una cadena en minúscula utilizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [23]:
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [26]:
# Generar una lista utlizando un criterio de separación a partir de una cadena. split() 
# En este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separación la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [27]:
# Forma clásica , concatenar con +
nombre = "Flor Cerdán"
print("Buenas Tardes " + nombre)

Buenas Tardes Flor Cerdán

In [28]:
# Utilizanod el .format()
nombre = "Carlos Aquino"
edad = 22
print("hola {} ya sé que tienes {} años".format(nombre, edad))

hola Carlos Aquino ya sé que tienes 22 años

In [32]:
# Dar formato a números con muchos decimales
resultado = 10/3
resultado =10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f} ".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [33]:
# Dar formato con f
# LA FUNCIÓN F, ESTÁ DISPONIBLE A PARTIR DE LA VERSIÓN 3.6

In [34]:
nombre = "Jhon Baldeon"
edad = 17
print(f"Buenos dias {nombre}, ya sé que tienes {edad} años")

Buenos dias Jhon Baldeon, ya sé que tienes 17 años

In [35]:
# Dar formato con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335