# SEMANA 03
Mg. Flor Elizabeth Cerdán León

# Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

2. Variables

In [1]:
# Siempre deben iniciar con una letra o un gión abajo.Ojo: (Nunca con un número o un símbolo)

In [2]:
edad = 41
edad

41

In [3]:
nombre = "Flor"
nombre

'Flor'

In [4]:
apellido = "Cerdán León"
apellido

'Cerdán León'

In [5]:
nombrecompleto = nombre + apellido
nombrecompleto

'FlorCerdán León'

In [6]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Flor Cerdán León'

In [7]:
# Para saber el tipo de variable utilizamos la función type()
# Ejemplo:
numero = 50
type(numero)

int

In [8]:
type(nombre)

str

In [9]:
talla = 1.68
talla

1.68

In [10]:
type(talla)

float

In [11]:
# Para convertir un numero en cadena utilizamos str()
numero = 100
cadena = str(numero)

In [12]:
cadena

'100'

In [13]:
type(cadena)

str

In [14]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [15]:
type(numero2)

int

In [16]:
# Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [17]:
type(numero2)

float